<<<<<<< HEAD
.gadgetsrow{
    background-color: #2E3944   ;
    color: white;
=======
.gadgetsrow{
    background-color: #2E3944   ;
    color: white;
>>>>>>> 8a40be0da70e08cdf93a6c6de38b69bdba5194c2
}